.slick-slider{
	margin-bottom: 0px;
}
.slick-slide{
	width:100%;
	min-height: 100vh;
	height: 100vh;
}
.slide-wrap{
	width:100%;
	height: 100vh;
}
.slide-wrap img.slide-back{
	width:100%;
	height: 100vh
}
.slick-dots{
	bottom:45px;
}
.slick-dots li button:before{
	font-size: 10px;
	opacity: .40;
    color: white;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}
.slide-1{
	background: url(../../assets/images/intro-slider/img_slide_1.png) no-repeat center center ;
}
.slide-2{
	background: url(../../assets/images/intro-slider/img_slide_2.png) no-repeat center center ;
}
.slide-3{
	background: url(../../assets/images/intro-slider/img_slide_3.png) no-repeat center center ;
}
.slide-4{
	background: url(../../assets/images/intro-slider/img_slide_4.png) no-repeat center center ;
}
.slick-prev, .slick-next{
	display: none!important;
}
.slide-info-section{
	height: 100vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding-top: 23vh;
}
.slide-info-section .icon-img-wrap{
	width:50px;
	margin: 0 auto;
}
.slide-info-section img.slide-icons{
	width: 50px;
    margin-bottom: 20px;
}
.slide-info-section p{
	color: #ececec;
    font-weight: 100;
    font-size: 20px;
   margin-bottom: 0px;
}
.get-started-section{
	width: 120px;
	margin: 0 auto;
	margin-top: 6vh;
}
.get-started-link{
	display: block;
	width: 100%;
    height: 40px;
    background-color: #FF8D00;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
    border-radius: 25px;
}
a.get-started-link:hover{
	color: #fff;
	text-decoration: none;
}
