<section id="features" class="blue" ng-init="index=2">
  <div class="content">

    <slick dots="true" infinite="false" speed=300 slides-to-show=1 touch-move="false" slides-to-scroll=1 class="slider one-time">
      <div class="slide-wrap">
        <div class="slide-info-section slide-1">
            <div class="icon-img-wrap">
              <img class="slide-icons" src="assets/images/intro-slider/ico_search.png">
            </div>
            <p>Find a companion</p>
            <p>to commute with</p>
        </div>
      </div>
      <div class="slide-wrap">
        <div class="slide-info-section slide-2">
            <div class="icon-img-wrap">
              <img class="slide-icons" src="assets/images/intro-slider/ico_save_exp.png">
            </div>  
            <p>Share fuel costs</p>
            <p>and experiences</p>
        </div>
      </div>
      <div class="slide-wrap">
        <div class="slide-info-section slide-3">
            <div class="icon-img-wrap">
              <img class="slide-icons" src="assets/images/intro-slider/ico_make_friend.png">
            </div>  
            <p>Make new friends</p>
            <p>while commuting</p>
        </div>
      </div>
      <div class="slide-wrap">
        <div class="slide-info-section slide-4">
            <div class="icon-img-wrap">
              <img class="slide-icons" src="assets/images/intro-slider/ico_make_friend.png">
            </div>  
            <p>Save fuel, reduce traffic</p>
            <p>and save earth</p>
            <div class="get-started-section">
              <a class="get-started-link" ui-sref="main">Get Started</a>
            </div>
            
        </div>
      </div>
    </slick>

    <!-- <p ng-click="index=4">Change index to 4</p>
    <br> -->
    <!-- <hr/> -->
  <!--   <h2>Multiple Items</h2>
    <slick slides-to-show=3 slides-to-scroll=3 init-onload=true data="awesomeThings" class="slider multiple-items">
      <div ng-repeat="thing in awesomeThings"><h3>{{ thing }}</h3></div>
    </slick>
    <hr/>


    <h2>One At A Time</h2>
    <slick dots="true" infinite="false" speed=300 slides-to-show=5 touch-move="false" slides-to-scroll=1 class="slider one-time">
      <div><h3>1</h3></div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </slick>
    

    <br>
    <hr/>
    <h2>Lazy Loading</h2>
    <slick lazy-load='ondemand' slides-to-show=3 slides-to-scroll=1 class="slider lazy">
      <div><div class="image"><img data-lazy="images/lazyfonz1.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz2.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz3.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz4.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz5.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz6.png"/></div></div>
    </slick> -->
  </div>
</section>