<div class="page-wrapper user-profile-wrapper">
	<div class="col-md-12 col-sm-12 col-xs-12 header-section post-ride-header">
	</div>	
	<div class="container profile-container">
		
		<form name="userProfileUpdateForm" class="animation-form-signup" ng-submit="updateUserData()" novalidate>
			<div class="profile-pic-wrapper">
				<div class="triangle-down-left-post"></div>
				<!-- <img class="profile-pic" src="assets/images/user-image.jpg"> -->
				<img class="profile-pic" src="{{user.userPhotoUrl}}" ng-click="getImageSaveContact()">
				<!-- <img class="profile-pic" ng-src="data:image/png;base64,{{user.userPhotoUrl}}" ng-click="getImageSaveContact()"> -->
			</div>
			<div class="other-detail-wrapper" ng-class="{'editable-mode' : editableMode}">
				<p class="profile-uname"><span>{{user.empName}}</span></p>
				

				<!-- Contact Number Section -->
				<div class="profile-row">
					<div class="field-icon-section">
						<img class="icon-style home" src="assets/images/icon_mobile_number.png">
					</div>
					<div class="user-input-section">
						<span class="non-editable-sec">{{user.contactNo}}</span>
						<div class="editable-sec">
							<label class="field-label from">
								Contact no.
							</label> 
							<input maxlength="10" class="form-control input-boxes login-input-box"  ng-class="{'error-border':!showErrorMessage}"  ng-model="user.contactNo" type="tel" name="contactNo" required ng-pattern="/^[789]\d{9}$/" placeholder="Mobile Number" >
							<div ng-show="!showErrorMessage"  ng-messages="signupForm.contactNo.$error" class="error-msg-edit">
								<p ng-message="required" class="error-msg">Contact Number is required</p>
								<p ng-message="pattern" class="error-msg">Invalid Contact Number</p>
							</div>
						</div>
					</div>
				</div>
				


				<!-- Home Address Section -->
				<div class="profile-row">
					<div class="field-icon-section">
						<img class="icon-style home" alt="Home" src="assets/images/available-rides/from-icon.png">
					</div>
					<div class="user-input-section">
						<span class="non-editable-sec">{{user.homeAddressLocation.display_address}}, {{user.city}}, {{user.state}}</span>
						<div class="editable-sec">
							<label class="field-label from">
								Home address
							</label>
							<input tab-index="1" id="" ng-class="{'error-border':showErrorMessage}" class="form-control input-boxes login-input-box" type="text" name="homeAddress" required ng-model='user.homeAddress' g-places-autocomplete>
			                <div  class="error-msg-edit" ng-messages="postRideForm.homeAddress.$error">
								<p ng-message="required" class="error-msg">Home address is required</p>
							</div>
						</div>
					</div>
				</div>



				<!-- Office Address Section -->
				<div class="profile-row" >
					<div class="field-icon-section">
						<img class="icon-style home" alt="Home" src="assets/images/available-rides/to.png">
					</div>
					<div class="user-input-section">
						<span class="non-editable-sec">{{user.officeAddressLocation.display_address}}, {{user.city}}, {{user.state}}</span>
						<div class="editable-sec">
							<label class="field-label from">
								Office address
							</label>
							<select ng-options='item as item.display_address for item in officeAddressJSON' ng-model='officeAddress' name='officeAddress' class="post-ofc-address">
								<option style="display:none" value="">Office Address</option> 
							</select>
			                <div  class="error-msg-edit" ng-messages="postRideForm.officeAddress.$error">
								<p ng-message="required" class="error-msg">Office address is required</p>
							</div>
						</div>
					</div>
				</div>




				<!-- vehicleLicenseNumber section -->
				<div class="profile-row" ng-show="user.vehicle[0] != null">
					<div class="field-icon-section">
						<img class="icon-style home" alt="Home" src="assets/images/car-front.png">
					</div>
					<div class="user-input-section">
						<span class="non-editable-sec">{{user.vehicle[0].vehicleLicenseNumber}}</span>
						<div class="editable-sec">
							<label class="field-label from">
								Vehicle no.
							</label>
							<input class="form-control input-boxes login-input-box" ng-class="{'error-border':!showErrorMessage}" type="text" maxlength="13" name="vehicleNo" required ng-pattern="/^[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{4}$/" ng-model="user.vehicle[0].vehicleLicenseNumber">
			                <div ng-show="!showErrorMessage"  ng-messages="signupForm.vehicleNo.$error" class="error-msg-edit">
								<p ng-message="required" class="error-msg">Registration Number is required</p>
								<p ng-message="pattern" class="error-msg">Invalid Registration Number</p>
							</div>
						</div>
					</div>
				</div>



				<!-- Seats Available Section -->
				<div class="profile-row" ng-show="user.vehicle[0] != null">
					<div class="field-icon-section">
						<img class="icon-style home" alt="Home" src="assets/images/available-rides/to.png">
					</div>
					<div class="user-input-section">
						<span class="non-editable-sec">{{user.vehicle[0].capacity}}</span>
						<div class="editable-sec">
							<label class="field-label from">
								Seats available
							</label>
							<select class="timeslot post-ride-leaving-in" name="availableSeats" ng-class="{'error-border':!showErrorMessage}" required ng-model="vehicleCapacity" ng-options="c as c for c in vehicleCapacityJSON">
								<option style="display:none" value="">Seats available</option>
							</select>
							<div ng-show="!showErrorMessage"  ng-messages="postRideForm.availableSeats.$error" class="error-msg-edit">
								<p ng-message="required" class="error-msg">Available seats is required</p>
							</div>
						</div>
					</div>
				</div>




				<!-- Shift Timings Sections -->
				<div class="profile-row timing">


					<!-- Shift TimeIn Section -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-L-none">
						<div class="field-icon-section">
							<img class="icon-style home" alt="Home" src="assets/images/available-rides/starting-time.png">
						</div>
						<div class="user-input-section">
							<span class="non-editable-sec">{{user.shiftTimeIn | date:'hh:mm a'}}</span>
							<div class="editable-sec">
								<label class="field-label from">
									Shift start time
								</label>
								<select name="shiftStartTime" class="timeslot post-ride-leaving-in"  ng-class="{'error-border':!showErrorMessage}" required ng-options="t as t.start for t in timeSlotJSON"  ng-model="shiftTime">
									<option style="display:none" value="">Shift start time</option> 	
								</select>
								<div  class="error-msg-edit" ng-messages="postRideForm.shiftStartTime.$error">
									<p ng-message="required" class="error-msg">shift time is required</p>
								</div>
							</div>
						</div>
					</div>



					<!-- Shift TimeOut Section -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-R-none">
						<div class="field-icon-section">
							<img class="icon-style home" alt="Home" src="assets/images/available-rides/starting-time.png">
						</div>
						
						<div class="user-input-section">
							<span class="non-editable-sec">{{user.shiftTimeout | date:'hh:mm a'}}</span>
							<div class="editable-sec">
								<label class="field-label from">
									Shift end time
								</label>
								<select name="shiftEndTime" class="timeslot post-ride-leaving-in"  ng-class="{'error-border':!showErrorMessage}" required ng-options="t as t.end for t in timeSlotJSON"  ng-model="shiftTime">
									<option style="display:none" value="">Shift end time</option> 	
								</select>
								<div  class="error-msg-edit" ng-messages="postRideForm.shiftEndTime.$error">
									<p ng-message="required" class="error-msg">shift time is required</p>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="prof-edit-btn" ng-click="operation(leftButtonText)">
					{{leftButtonText}} <img class="prof-btn-img" src="assets/images/icon_car.png">
				</div>
				<div class="prof-logout-btn" ng-click="operation(rightButtonText)">
					{{rightButtonText}} <img class="prof-btn-img" src="assets/images/icon_car_grey.png">
				</div>

			</div>
		</form>		
	</div>

	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.home" class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p ui-sref="userHome.home" class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.userProfile" class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p ui-sref="userHome.userProfile" class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.rideStatus" class="home-menu-icon" src="assets/images/dashboard-icon/track-ride.png">
				<p ui-sref="userHome.rideStatus" class="home-menu-text">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="activities" class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p ui-sref="activities" class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>
	
</div>