<!-- Login by Siddharth Ajmera -->
<div class="page-wrapper login-wrapper">
    <div class="container login-container">
      
      <div class="form-section login-form">
         <p class="error-msg">{{errorMsg}}</p>
        <form class="form" name="loginForm" novalidate>
        <div class="each-row login-page">
          <div><span><img class="icon-style" src="assets/images/icon_username.png"></span></div>
          <div>
            <input ng-class="{'error-border':showErrorMessage}" class="form-control input-boxes login-input-box"  type="number" name="empId" placeholder="EMPLOYEE ID"  ng-model="user.empId" required ng-pattern="/^[0-9]*$/">
            <div ng-show="showErrorMessage"  ng-messages="loginForm.empId.$error" class="error-msg-edit">
                    <p ng-message="required" class="error-msg">Please enter
                      Employee number</p>
                    <p ng-message="pattern" class="error-msg">Please enter
                      valid Employee number</p>
            </div>
          </div>
        </div>
        <div class="each-row login-page">
          <div><span><img class="icon-style" src="assets/images/icon_password.png"></span></div>
          <div><input ng-class="{'error-border':showErrorMessage}" class="form-control pwd-boxes login-input-box"   type="password" name="password" placeholder="PASSWORD"  ng-model="user.password" required>
             <div ng-show="showErrorMessage"  ng-messages="loginForm.password.$error" class="error-msg-edit">
                    <p ng-message="required" class="error-msg">Please enter
                      password</p>
              </div>
          </div>
        </div>
        <div class="each-row login-page">
          <input type="button" name="continue" value="LOGIN" ng-click="login()">
        </div>
      </form>
        <a >Forgot password?</a>
        <a ui-sref="signup.stepOne">Register</a>
      </div>

    </div>
  </div>