<!-- Login by Siddharth Ajmera -->
<div class="page-wrapper login-wrapper">
    <div class="container login-container">
      
      <div class="form-section login-form">
        <div class="triangle-down-left-post"></div>
        <div class="login-form-wrapper">
          <p class="error-msg for-wrong">{{errorMsg}}</p>
          <form class="form" name="loginForm" novalidate>
            <div class="each-row login-page">
              <div class="field-icon-section"><span><img class="icon-style" src="assets/images/icon_employee_ID.png"></span></div>
              <div id="inputUserWrapepr" class="user-input-section">
                <!-- <label for="#username" class="moving-label" ng-click="moveLabelUp('inputUserWrapepr')">Employee Id</label> -->
                <input tab-index="1" id="username" ng-class="{'error-border':showErrorMessage}" class="form-control input-boxes login-input-box"  type="number" name="empId" placeholder="Employee Id"  ng-model="user.empId" required ng-pattern="/^[0-9]*$/"><!-- ng-click="moveLabelUp('inputUserWrapepr')"
                ng-blur="moveLabelDown('inputUserWrapepr','username')" ng-focus="moveLabelUp('inputUserWrapepr')" -->
                <div ng-show="showErrorMessage"  ng-messages="loginForm.empId.$error" class="login-err-wrap">
                  <p ng-message="required" class="error-msg">Please enter Employee ID</p>
                  <p ng-message="pattern" class="error-msg">Please enter valid Employee ID</p>
                </div>
              </div>
            </div>
            <div class="each-row login-page">
              <div class="field-icon-section"><span><img class="icon-style key" src="assets/images/password.gif"></span></div>
              <div id="inputPwdWrapper" class="user-input-section">
                 <!-- <label for="#password" class="moving-label"  ng-click="moveLabelUp('inputPwdWrapper')">Password</label> -->
                <input tab-index="2" ng-class="{'error-border':showErrorMessage}" class="form-control pwd-boxes login-input-box"   id="password" type="password" name="password" placeholder="Password"  ng-model="user.password" required><!-- ng-click="moveLabelUp('inputPwdWrapper')" ng-focus="moveLabelUp('inputPwdWrapper')" ng-blur="moveLabelDown('inputPwdWrapper','password')" -->
                 <div ng-show="showErrorMessage"  ng-messages="loginForm.password.$error" class="login-err-wrap">
                        <p ng-message="required" class="error-msg">Please enter
                          Password</p>
                  </div>
              </div>
            </div>
            <div tab-index="3" class="each-row login-page login-btn-sec" ng-click="login()">
              <span class="login-text">LOGIN</span>
              <img src="assets/images/icon_car.png" class="login-car-img">
            </div>
          </form>
        </div>  
        <!-- <a >Forgot Password?</a>
        <a ui-sref="signup.stepOne">Register</a> -->
      </div>
      <a class="forgot-link">Forgot Password?</a>
    </div>
  </div>