<div class="page-wrapper sampling-wrapper">
	<div class="col-md-12 col-sm-12 col-xs-12 header-section post-ride-header">
		<span class="glyphicon glyphicon-chevron-left cursor-pointer avail-header-back" ng-click="toggleHamburger()"></span>
		<span class="heading">Start Sampling</span>
	</div>
	<div class="container login-container ">
		<form name="userProfileUpdateForm" class="animation-form-signup" ng-submit="updateUserData()" novalidate>
			<div class="form-section signup-section-form">
				<div class="each-row">
					<input type="button" class="input-buttons"  name="syncData" value="{{buttonText}}" ng-click="startOrStopSampling(buttonText)">
				</div>
			</div>
		</form>	
		<leaflet    id='myMap' defaults="defaults" center="center" paths="paths"></leaflet>	
	</div>
</div>