
/**
 * Bootstrap Fonts
 */

/*@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.cursor-pointer{
    cursor: pointer;
}

/*login and signup styles*/
.global-link,.form-section a.global-link{
    color: #eb6e3d;
} 
.float-none,.form-section a.float-none{
    float: none!important;
}
.terms-cond-text{
    color: #d0d0d0;
}
.page-wrapper{
    background-image: url("../../../assets/images/login_background.png");
    background-size: cover;
    float:left;
    width: 100%;
    min-height: 100vh;
    /*min-height: 500px;*/

}
.main-page-wrapper{
   
    float:left;
    width: 100%;
    height: 100vh;
    background-color: #000;

}
.container.login-container{
    width: 400px;
    margin-top: 5%;
}
.container.login-container.user-home-container{
    width:100%;
}
.logo-section{
    margin-top: 45px;
    font-size: 25px;
    color: #acacac;
    text-align: center;
}

/*TIMELINE CSS*/
#progressbar{
    overflow: hidden;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
.form-section{
    float: left;
    margin-top: 20%;
    width: 100%;
}
.form-section input{
    border-radius: 0px;
}
.each-row{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.each-row div:first-child{
    float: left;
    width: 15%;
    height: 60px;
    background-color: #fff;
    /*padding-top: 10px;*/
    text-align: center;
}
.each-row div.id-section{
    padding-top: 9px;
}
.each-row div:last-child{
    float: left;
    width: 85%;
}
.each-row div:last-child input[type="text"].input-boxes,.each-row div:last-child input[type="password"].pwd-boxes{
    width: 100%;
    height: 60px;
    border:none;
    padding: 30px 10px;
    background-color: #fff;
    color: #000;
}
.each-row div span.glyphicon-user,.each-row div span.glyphicon-home,
.each-row div span.glyphicon-briefcase,
.each-row div span.glyphicon-earphone,
.each-row div span.glyphicon-lock,
.each-row div span.glyphicon-time
{
    color: #fff;
}

.each-row:last-child input[type="button"].input-buttons,
.each-row:last-child input[type="submit"].submit-buttons{
    width:100%;
    height: 60px;
    background-color: #eb6e3d;
    opacity: 0.7;
    border: none;
    /*border-radius: 25px;*/
    color: #fff;
}
.each-row div.gender-radio{
    float:left;
    width: 50%;
    color: #dadada;
    background-color: transparent;
    text-align: left;
    margin-top: 0px;
    padding: 5.5% 10%;
    font-size: 14px;
}
.gender-radio label{
    color: #38444e;
}
.each-row.gender-section{
    background: #fff;
    height: 60px;
    margin-bottom: 10px;
}
.each-row select.timeslot{
    width: 70%;
    background-color: #fff;
    border: none;
    height: 60px;
    color: #38444e;
    box-shadow: none;
}
.each-row select.timeslot:hover{
    /*background-color: #353535;
    transition:all ease 3s;*/
}
.each-row.login-page div:first-child{
    width: 15%;
}
.each-row div svg{
    width: 20px;
    height: 20px;
}
.each-row div.id-section svg{
    width: 28px;
    height: 28px;
}
.each-row div svg{
    fill: #fff;
}
.each-row.login-page div:last-child input[type="text"],
.each-row.login-page div:last-child input[type="password"]
{
    border-radius: 0px;
}
.each-row.login-page input[type="button"]{
    border-radius: 0px;
    width: 100%;
    height: 60px;
    background-color: #EC6E3C;
    border: none;
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
    color: #fff;
}

.each-row select.seater-select{
    width: 70%;
    background-color: #fff;
    border: none;
    /*border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;*/
    height: 60px;
    color: #000;
}
/*.each-row select.seater-select:hover{
    background-color: #353535;
    transition: all ease 2s;
}*/


.vehicle-wrapper p{
    color: #dadada;
}
.vehicle-wrapper{
    width: 100%;
    float: left;
    border-bottom: 1px solid #acacac;
    margin-bottom: 20px;
}
#progressbar li a{
    display: block;
    background-color: #333333;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    font-size: 12px;
    color: #dadada;
    border-radius: 50%;
    border: 1p;
    font-weight: bold;
    text-decoration: none;
    transition: all ease 1s;
}
#progressbar li.active a{
    background-color: #02A554;
}

.each-row .seater-svg svg{
    width: 25px;
    height: 25px;
}
.each-row.seater-section div svg{
    width: 28px;
    height: 28px;
}

.each-row .seater-svg svg{
    width: 25px;
    height: 25px;
}
.each-row.seater-section div svg{
    width: 28px;
    height: 28px;
}

.each-row.login-page div:last-child input[type="text"]:focus,
.each-row.login-page div:last-child input[type="password"]:focus{
        background-color: #464646;
        /*border-bottom: 1px solid #5D5D5D;*/
        transition: all ease .5s;
}
.each-row div:last-child input[type="text"]:focus,
.each-row div:last-child input[type="password"]:focus{
        background-color: #464646;
        /*border-bottom: 1px solid #5D5D5D;*/
        transition: all ease .5s;
}
.location-section{
    background-image: url(../assets/images/map.png);
    height: 50vh;
    float:left;
    padding:0px;
}
.each-row.login-page div:last-child input[type="text"]:focus,
.each-row.login-page div:last-child input[type="password"]:focus{
        box-shadow: none;
        background-color: #fff;
        /*border-bottom: 1px solid #5D5D5D;*/
        transition: all ease .5s;
}
.each-row div:last-child input[type="text"]:focus,
.each-row div:last-child input[type="password"]:focus{
        background-color: #fff;
        /*border-bottom: 1px solid #5D5D5D;*/
        box-shadow: none;
        transition: all ease .5s;
}
.signup-two-wrap .each-row div.input-fields{
    float:left;
    width:85%;
    height: 60px;
    
}
.signup-two-wrap .each-row div.input-fields input{
    height: 60px;
    border: none;
}
.signup-two-wrap .each-row .each-row-half div.input-fields{
    float:left;
    width:70%;
    height: 60px;
}
.signup-two-wrap .each-row .each-row-half div.input-fields input,
.signup-two-wrap .each-row .each-row-half div.input-fields select{
    width:100%;
}
.signup-two-wrap .each-row div:last-child{
    width: 100%;
}
.location-section{
    background-image: url(../assets/images/map.png);
    height: 50vh;
    float:left;
    padding:0px;
    
}
svg.map-svg,svg.signup-main-svg{
    height: 63%;
}
svg path.path-0{
    fill:#fff;
}
svg path.path-1{
    fill:#02A554;
}
.locate-me{
    height: 35px;
    background-color: #02A554;
    border: none;
    border-radius: 25px;
    padding: 0 15px;
    width: 165px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 3%;
}
.mainpage-signup-section{
    background-image: url(../assets/images/signup-back.jpeg);
    height: 50vh;
    padding:0px;
    
}

#form-views.ng-enter,
#form-views.ng-leave      
{ position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
.content-wrapper{
    height: 50vh;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    padding-top: 1%;
}
.map-content-wrapper{
    background-color: rgba(29, 28, 28, 0.58);
}
svg.map-svg,svg.signup-main-svg{
    height: 68%;
}
svg path.path-0{
    fill:#fff;
}
svg path.path-1{
    fill:#02A554;
}
.locate-me{
    height: 35px;
    background-color: #02A554;
    border: none;
    border-radius: 25px;
    padding: 0 15px;
    width: 165px;
    color: #fff;
    font-weight: bold;
}
.mainpage-signup-section{
    background-image: url(../assets/images/signup-back.jpeg);
    height: 50vh;
    padding:0px;
}
a.custom-btn{
    /*height: 35px;
    background-color: #02A554;
    border: none;
    border-radius: 25px;
    padding: 0 15px;
    width: 165px;
    color: #fff;
    font-weight: bold;
    display: block;*/
}
#form-views.ng-enter,
#form-views.ng-leave{
    position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
/*login and signup styles end*/



.each-row div:last-child input[type="text"].input-boxes.ng-invalid.error-border,
.each-row div:last-child input[type="password"].pwd-boxes.ng-invalid.error-border,
.each-row select.timeslot.ng-invalid.error-border,
.each-row select.seater-select.ng-invalid.error-border {
        border: 0.4px solid #FF7847;
}
p.error-msg{
    color: #A94442;
    float: left;
    width: 100%;
}
.icon-style{
    width: 70%;
    height: 70%;
    margin-top: 10px;
}
.each-row-half{
    display: block;
    float: left;
    width: 49.7%;
}
.each-row-half:last-child{
    float: right;
}
.each-row-half .form-control{
    width: 70%;
    height: 60px;
    border: 1px solid #fff;
}
.each-row-half div:first-child{
    width: 30%;
}
.each-row-half div:last-child{
    width: 70%;
}
/*.each-row .each-row-half:first-child{
    border-right: 2.5px solid;
}
.each-row .each-row-half:last-child{
    border-left: 2.5px solid;
}*/