@media(max-width: 1024px){

}

@media(max-width: 991px){

}

@media(max-width: 767px){

}
@media(max-width: 580px){
	.form-section.functionality-wrap.avail-list-wrap {
		float: left;
	    width: 100%;
	}
}
@media(max-width: 480px){
	.container.login-container{
	    width: 100%;
	}
	.container.login-container.post-ride-container{
		position: absolute;
		bottom: 12px;
	}
	.each-row div:first-child{
		width: 15%;
	}
	.each-row div:last-child{
		width: 85%;
	}
	.each-row div.gender-radio{
		width: 50%;
	}
	.each-row .each-row-half div:first-child{
		width: 30%;
	}
	.form-section.functionality-wrap.avail-list-wrap{
		float: left;
	    width: 100%;
	}
	
}
