@media(max-width: 1024px){

}

@media(max-width: 991px){

}

@media(max-width: 767px){

}
@media(max-width: 580px){
	.form-section.functionality-wrap.avail-list-wrap {
		float: left;
	    width: 100%;
	}
	.container.login-container.post-ride-container{
		float: left;
	    width: 100%;
	}
}
@media(max-width: 480px){
	.container.login-container{
	    width: 100%;
	}
	
	.each-row div:first-child{
		width: 15%;
	}
	.icon-style{
		width: 90%;
	}
	.each-row div.gender-radio{
		width: 50%;
	}
	.each-row .each-row-half div:first-child{
		width: 30%;
	}
	.form-section.functionality-wrap.avail-list-wrap{
		float: left;
	    width: 100%;
	}
	.login-signup-comb-wrap{
	    margin: 0 auto;
	    width: 90%;
	}
	.home-content-wrapper{
		width: 100%;
	    padding: 0 15px;
	    float: left;
	}
	.suggestion-map-wrap{
	    width: 100%;
	    padding:60px 15px 0 15px;
	    float: left;
	}
	.home-page-menu-options{
		height: 55px;
	}
	.home-menu-icon{
        width: 28px;
	}
	.home-menu-text{
		font-size: 11px;
	}
	.each-home-menu{
		padding:0 0px;
	}	
}
