<div class="page-wrapper avail-page-wrapper">
	
	<div class="container login-container user-home-container pad-R-none pad-L-none"  scroll ng-class="{availheaderback:boolChangeClass}">

		<div class="col-md-12 col-sm-12 col-xs-12 header-section post-ride-header">
<!-- 			<span class="glyphicon glyphicon-chevron-left cursor-pointer pull-left"></span> -->
			<span class="heading">Form a team</span>
		</div>

		<form name="userProfileUpdateForm" class="container login-container post-ride-container animation-form-signup" novalidate>
			<div class="triangle-down-left-post"></div>	
			<div class="form-section signup-section-form post-ride-form">
				
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon team-name-icon" src="assets/images/available-rides/from-icon.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label">
							Team name
						</label> 
	               		<input type="text" ng-model="team.teamName" class="form-control login-input-box team-name-field">
		            </div>
				</div>

				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/from-icon.png" ng-click="optionAddressOptions('from')">
					</div>
					<div id="postFromSec" class="from-address-post-wrap">
						<label class="field-label from">
							Home
						</label> 
		                <input tab-index="1" id="" ng-class="{'error-border':showErrorMessage}" class="form-control input-boxes login-input-box" type="text" name="homeAddress" required ng-model='team.rideDetails.from' g-places-autocomplete>
		                <!-- <p class="current-loc-sec"><img src="assets/images/current_location.png">Use current location</p> -->
		                
		                <div ng-show="!showErrorMessage"  ng-messages="postRideForm.rideSource.$error" class="error-msg-edit">
							<p ng-message="required" class="error-msg">Ride source is required</p>
						</div>
					</div>
				</div>

				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/to.png" ng-click="optionAddressOptions('to')">
					</div>
					<div id="postToSec" class="from-address-post-wrap">
						<label class="field-label from">
							Office
						</label>
						<select ng-options='item as item.display_address for item in officeAddressJSON' ng-model='team.rideDetails.to' name='officeAddress' class="post-ofc-address">
							<option style="display:none" value="">Office Address</option> 
						</select>
		                <div ng-show="!showErrorMessage"  ng-messages="postRideForm.rideDestination.$error"
		                class="error-msg-edit">
							<p ng-message="required" class="error-msg">Ride destination is required</p>
						</div>
					</div>
				</div>


				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon from" src="assets/images/available-rides/starting-time.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label from">
							Shift start time
						</label>
						<select name="leavingIn" class="timeslot post-ride-leaving-in" ng-class="{'error-border':!showErrorMessage}" required ng-options="t as t.start for t in timeSlotJSON"  ng-model="team.rideDetails.ridePreferredTime">
						</select>
					</div>
					<div ng-show="!showErrorMessage"  ng-messages="postRideForm.leavingIn.$error" class="error-msg-edit">
						<p ng-message="required" class="error-msg">Start time is req.</p>
					</div>
				</div>

				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon from" src="assets/images/available-rides/starting-time.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label from">
							Shift end time
						</label>
						<select name="leavingIn" class="timeslot post-ride-leaving-in" ng-class="{'error-border':!showErrorMessage}" required ng-options="t as t.end for t in timeSlotJSON"  ng-model="team.rideDetails.ridePreferredTime">
						</select>
					</div>
					<div ng-show="!showErrorMessage"  ng-messages="postRideForm.leavingIn.$error" class="error-msg-edit">
						<p ng-message="required" class="error-msg">Start time is req.</p>
					</div>
				</div>

				<label class="field-label route">
					Tap to select a route
				</label>
			</div>
			<leaflet class="leaflet team" markers="markers" lf-center="center"  event-broadcast="events" id='analyzeon' defaults="defaults" paths="mypath"></leaflet>

				<div class="each-row post-ride-continue" name="syncData" ng-click="findTeamMembers()">
					FIND MEMBERS... <img class="post-continue-img" src="assets/images/icon_car.png">
				</div>
		</form>		
	</div>

	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.home" class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p ui-sref="userHome.home" class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.userProfile" class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p ui-sref="userHome.userProfile" class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.rideStatus" class="home-menu-icon" src="assets/images/dashboard-icon/track-ride.png">
				<p ui-sref="userHome.rideStatus" class="home-menu-text">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="activities" class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p ui-sref="activities" class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>
	
</div>