<div class="page-wrapper avail-page-wrapper">
	
	<div class="container login-container user-home-container pad-R-none pad-L-none"  scroll ng-class="{availheaderback:boolChangeClass}">

		<div class="col-md-12 col-sm-12 col-xs-12 header-section post-ride-header">
			<span class="heading">Post a Ride</span>
		</div>

		<form name="userProfileUpdateForm" class="container login-container post-ride-container animation-form-signup" novalidate>
			<div class="triangle-down-left-post"></div>	
			<div class="form-section signup-section-form post-ride-form">
				
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/from-icon.png" ng-click="optionAddressOptions('from')">
					</div>
					<div id="postFromSec" class="from-address-post-wrap">
						<label class="field-label from">
							From
						</label>
		                <select ng-model='rideData.from' class="timeslot post-ride-leaving-in" ng-change="fromChanged(rideData.from)">
		                	<option>Home</option>
		                	<option>Office</option>
		                	<!-- <option>Other</option> -->
		                </select>
		                <p class="current-loc-sec"><img src="assets/images/current_location.png">Use current location</p>
		                <div ng-show="!showErrorMessage"  ng-messages="postRideForm.rideSource.$error" class="error-msg-edit">
							<p ng-message="required" class="error-msg">Ride source is required</p>
						</div>
					</div>
				</div>
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/to.png" ng-click="optionAddressOptions('to')">
					</div>
					<div id="postToSec" class="from-address-post-wrap">
						<label class="field-label from">
							To
						</label>
		                <select name="rideDestination" placeholder="To"  required ng-model='rideData.to' class='timeslot post-ride-leaving-in' ng-change="toChanged(rideData.to)"> 
		                	<option>Home</option>
		                	<option>Office</option>
		                	<!-- <option>Other</option> -->
		                </select>
		                <div ng-show="!showErrorMessage"  ng-messages="postRideForm.rideDestination.$error"
		                class="error-msg-edit">
							<p ng-message="required" class="error-msg">Ride destination is required</p>
						</div>
					</div>
				</div>


				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon from" src="assets/images/available-rides/starting-time.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label from">
							Starting at
						</label>
						<select name="leavingIn" class="timeslot post-ride-leaving-in" ng-model="rideData.leavingIn" ng-class="{'error-border':!showErrorMessage}" required ng-options="t.value as t.text for t in leavingInJSON">
						</select>
					</div>
					<div ng-show="!showErrorMessage"  ng-messages="postRideForm.leavingIn.$error" class="error-msg-edit">
						<p ng-message="required" class="error-msg">Starting time is required</p>
					</div>
				</div>
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/seats_avalaible.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label from">
							Seats available
						</label>
						<select class="timeslot post-ride-leaving-in" name="availableSeats" ng-class="{'error-border':!showErrorMessage}" required ng-model="rideData.availableSeats" ng-options="c as c for c in availableSeatsJSON">
							<option style="display:none" value="">Seats available</option>
						</select>
					</div>
					<div ng-show="!showErrorMessage"  ng-messages="postRideForm.availableSeats.$error" class="error-msg-edit">
						<p ng-message="required" class="error-msg">Available seats is required</p>
					</div>
				</div>
				<label class="field-label route">
					Tap to select a route
				</label>
			</div>
			<leaflet class="leaflet" markers="markers" lf-center="center"  event-broadcast="events" id='analyzeon' defaults="defaults" paths="mypath"></leaflet>

				<div class="each-row post-ride-continue" name="syncData" ng-click="postRide()">
					POST MY RIDE! <img class="post-continue-img" src="assets/images/icon_car.png">
				</div>
		</form>		
	</div>

	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.home" class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p ui-sref="userHome.home" class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.userProfile" class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p ui-sref="userHome.userProfile" class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.rideStatus" class="home-menu-icon" src="assets/images/dashboard-icon/track-ride.png">
				<p ui-sref="userHome.rideStatus" class="home-menu-text">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="activities" class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p ui-sref="activities" class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>
	
</div>