

			<div class="form-section">
				<div class="each-row">
					<div><span class="glyphicon glyphicon-earphone"></span></div>
					<div><input class="form-control input-boxes"  ng-class="{'error-border':!showErrorMessage}"  ng-model="user.contactNo" type="text" name="contactNo" required ng-pattern="/^[0-9]*$/" placeholder="Contact" >
						<div ng-show="!showErrorMessage"  ng-messages="signupForm.contactNo.$error" class="error-msg-edit">
										<p ng-message="required" class="error-msg">Please enter
											contact number</p>
										<p ng-message="pattern" class="error-msg">Please enter
											valid contact number</p>
						</div>

					</div>
				</div>
				<div class="each-row">
					<div><span class="glyphicon glyphicon-time"></span></div>
					<div>
						<select name="timeSlot" class="timeslot" ng-model="user.timeSlot" ng-class="{'error-border':!showErrorMessage}" required ng-options="t as t for t in timeSlotJSON">
							<option style="display:none" value="">Select timeslot</option> 	
						</select>
						<div ng-show="!showErrorMessage"  ng-messages="signupForm.timeSlot.$error" class="error-msg-edit">
										<p ng-message="required" class="error-msg">Please select
											timeslot</p>
										
						</div>
					</div>
				</div>				
				<div class="each-row gender-section">
					<div class="radio gender-radio">
					  <label><input type="radio" name="optradio" ng-model="user.gender">Male</label>
					</div>
					<div class="radio gender-radio">
					  <label><input type="radio" name="optradio" ng-model="user.gender">Female</label>
					</div>
				</div>
				<div class="each-row">
					<input type="button" class="input-buttons" name="continue" value="Continue" ng-click="goToStep(3)">
					
				</div>
			</div>

	