<div class="main-page-wrapper">
	<!-- Hamburger Content -->
	<div class="show-none hamburger-content" ng-class="{show : tgState}">
		<div class="col-md-12 col-sm-12 col-xs-12 hamburger-image-section">
			<div  class="col-md-12 col-sm-12 col-xs-12 ">
				<svg ng-click="toggleHamburger()" class="close-hamburger-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg> 
			</div>
			<div class="user-image-hamburger-wrap">
				<img src="assets/images/user-image.jpg" class="avail-user-img">
				<svg class="user-indication-svg">
				  <circle cx="50" cy="50" r="5" class="indicator-circle"/>
				</svg>
			</div>
			
			<p class="hamburger-username">Bob Martin</p>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 user-locationham-wrap">
				<span class="glyphicon glyphicon-map-marker"></span>
				<span class="user-location-ham">Pune, Maharashtra</span>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 pad-R-none pad-L-none">
			<ul class="functionality-ham-list">
				<li>
					<span class="glyphicon glyphicon-edit"></span>
					<a class="function-links" ui-sref="userHome.home" ng-click="toggleHamburger()">POST RIDE</a>
				</li>
				<li>
					<span class="glyphicon glyphicon-edit"></span>
					<a class="function-links" ui-sref="userHome.postRides" ng-click="toggleHamburger()">GET SUGGESTIONS</a>
				</li>
				<li>
					<span class="glyphicon glyphicon-edit"></span>
					<a class="function-links" ui-sref="userHome.availableRides" ng-click="toggleHamburger()">START SAMPLING</a>
				</li>
				<li>
					<span class="glyphicon glyphicon-edit"></span>
					<a class="function-links" ui-sref="main">ANALYZE</a>
				</li>
				<li>
					<span class="glyphicon glyphicon-edit"></span>
					<a class="function-links" ng-click="logout()">LOGOUT</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- page content -->
	<div class="main-content" ng-class="{show : tgState}">
		<!-- <hamburger-toggle state="tgState"></hamburger-toggle> -->
		<ui-view>

		</ui-view>
	</div>
</div>
