<div class="page-wrapper">
	
	<div class="container login-container user-home-container pad-R-none pad-L-none"  scroll ng-class="{availheaderback:boolChangeClass}">
		<div class="col-md-12 col-sm-12 col-xs-12 header-section post-ride-header">
			<!-- <span class="glyphicon glyphicon-chevron-left cursor-pointer pull-left"></span> -->
			<span class="heading">Track my ride</span>
		</div>

		<form name="userProfileUpdateForm" class="container login-container post-ride-container animation-form-signup ride-status" novalidate>
			<div class="triangle-down-left-post"></div>	
			<div class="form-section signup-section-form post-ride-form" ng-class="{'editable-mode' : editableMode}">
				
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/from-icon.png" ng-click="optionAddressOptions('from')">
					</div>
					<div id="postFromSec" class="from-address-post-wrap">
						<label class="field-label from">
							From
						</label>
						<span>{{postedRide.startLocation.display_address}}</span>
					</div>
				</div>

				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/to.png" ng-click="optionAddressOptions('to')">
					</div>
					<div id="postToSec" class="from-address-post-wrap">
						<label class="field-label from">
							To
						</label>
						<span>{{postedRide.endLocation.display_address}}</span>
					</div>	
				</div>
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/via.png" ng-click="optionAddressOptions('to')">
					</div>
					<div id="postToSec" class="from-address-post-wrap">
						<label class="field-label from">
							Via
						</label>
						<span>{{postedRide.routeSummary}}</span>
					</div>	
				</div>


				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/starting-time.png">
					</div>

					<div class="user-input-section"> <!-- class="from-address-post-wrap" -->
						<label class="field-label from">Leaving in</label>
						<span class="non-editable-sec">{{rideScheduledTime}} minutes</span>
						<div class="editable-sec">
							<!-- <label class="field-label from">Leaving In</label> -->
							<select name="leavingIn" class="timeslot post-ride-leaving-in"  ng-class="{'error-border':!showErrorMessage}" required ng-options="t.value as t.text for t in leavingInJSON" ng-model="leavingIn">
								<option style="display:none" value="">Leaving In</option> 	
							</select>
							<div class="error-msg-edit" ng-messages="postRideForm.shiftEndTime.$error">
								<p ng-message="required" class="error-msg">shift time is required</p>
							</div>
						</div>

					</div>
				</div>
				<div class="each-row">
					<div class="icon-address-fields">
						<img class="post-ride-from-icon" src="assets/images/available-rides/seats_avalaible.png">
					</div>
					<div class="from-address-post-wrap">
						<label class="field-label from">
							Seat Available
						</label>
						<span>{{postedRide.currentlyAvailableSeats}} / {{postedRide.initiallyAvailableSeats}}</span>
					</div>
				</div>
			</div>
			<div class="each-row post-ride-continue" name="syncData" ui-sref="currentRide"><!-- ng-click="startRide()" -->
				START THE RIDE! <img class="post-continue-img" src="assets/images/icon_car.png">
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-L-none pad-R-none track-btn-sec">
				<button class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left track-reschedule-btn" ng-click="leftButtonClicked(leftButtonText)">{{leftButtonText}}</button>
				<button class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right track-reschedule-btn cancel-btn" ng-click="rightButtonClicked(rightButtonText)">{{rightButtonText}}</button>
			</div>
			
		</form>
	</div>

	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.home" class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p ui-sref="userHome.home" class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.userProfile" class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p ui-sref="userHome.userProfile" class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.rideStatus" class="home-menu-icon" ui-sref="userHome.rideStatus" src="assets/images/dashboard-icon/track-ride.png">
				<p ui-sref="userHome.rideStatus" class="home-menu-text" ui-sref="userHome.rideStatus">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="activities" class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p ui-sref="activities" class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>

</div>		