

			<div class="form-section">
				<div class="each-row">
					<div class="id-section">
						<svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve"><g><circle cx="26.534" cy="40.515" r="7.004"/><path d="M15.527,59.833v9.516H37.54v-9.516c0-4.973-4.066-9.039-9.04-9.039h-3.933C19.595,50.794,15.527,54.86,15.527,59.833z"/><rect x="49.881" y="44.751" width="30.592" height="5.99"/><rect x="49.881" y="58.575" width="30.592" height="5.992"/><rect x="42.206" y="13.954" width="9.46" height="16.01"/><path d="M86.959,18.046H54.213v6.168h34.92v51.664H6.866V24.214h32.794v-6.168H9.04c-4.973,0-9.04,4.068-9.04,9.039v45.92   c0,4.973,4.067,9.041,9.04,9.041h77.919c4.973,0,9.041-4.068,9.041-9.041v-45.92C96,22.114,91.932,18.046,86.959,18.046z"/></g></svg>
					</div>
					<div><input type="text" name="empid" ng-model="user.empId" placeholder="Employee ID"></div>
				</div>
				<div class="each-row">
					<div><span class="glyphicon glyphicon-user"></span></div>
					<div><input type="text" name="name" ng-model="user.empName" placeholder="Name"></div>
				</div>
				<div class="each-row">
					<div><span class="glyphicon glyphicon-home"></span></div>
					<div><input type="text" name="p-address" ng-model="user.permanentAddress" placeholder="Permanent Address"></div>
				</div>
				<div class="each-row">
					<div><span class="glyphicon glyphicon-briefcase"></span></div>
					<div><input type="text" name="ofc-address" ng-model="user.officeAddress"placeholder="Office Address"></div>
				</div>
				<div class="each-row">
					<input type="button" name="continue" value="Continue" ui-sref="signup.stepTwo">
					
				</div>
			</div>

	