			<div class="form-section">
				<div class="each-row">
					<div><span><img class="icon-style" src="assets/images/icon_employee_ID.png"></span></div>
					<div><input type="text" maxlength="7" ng-class="{'error-border':!showErrorMessage}" class="form-control input-boxes" ng-model="user.empId" name="empid" placeholder="EMPLOYEE ID" required ng-pattern="/^[1-9]\d*$/">
						<div ng-show="!showErrorMessage"  ng-messages="signupForm.empid.$error" class="error-msg-edit">
							<p ng-message="required" class="error-msg">Employee ID is required</p>
							<p ng-message="pattern" class="error-msg">Invalid Employee ID</p>
						</div>
					</div>
				</div>

				<div class="each-row">
					<div><span><img class="icon-style" src="assets/images/icon_username.png"></span></div>
					<div><input type="text" ng-class="{'error-border':!showErrorMessage}"  name="empName" class="form-control input-boxes" ng-model="user.empName" placeholder="NAME" required>
						<div ng-show="!showErrorMessage"  ng-messages="signupForm.empName.$error" class="error-msg-edit">
							<p ng-message="required" class="error-msg">Name is required</p>
							<p ng-message="pattern" class="error-msg">Invalid Name</p>
						</div>
					</div>
				</div>

				<div class="each-row">
					<div><span><img class="icon-style" src="assets/images/icon_mobile_number.png"></span></div>
					<div><input maxlength="10" class="form-control input-boxes"  ng-class="{'error-border':!showErrorMessage}"  ng-model="user.contactNo" type="text" name="contactNo" required ng-pattern="/^[789]\d{9}$/" placeholder="MOBILE NUMBER" >
						<div ng-show="!showErrorMessage"  ng-messages="signupForm.contactNo.$error" class="error-msg-edit">
							<p ng-message="required" class="error-msg">Contact Number is required</p>
							<p ng-message="pattern" class="error-msg">Invalid Contact Number</p>
						</div>

					</div>
				</div>


				<div class="each-row gender-section">
					<div class="radio gender-radio">
					  <label><input type="radio" name="optradio" ng-model="user.gender">FEMALE</label>
					</div>
					<div class="radio gender-radio">
					  <label><input type="radio" name="optradio" ng-model="user.gender">MALE</label>
					</div>
				</div>

				<div class="each-row">
					<input type="button" class="input-buttons"  name="continue" value="CONTINUE" ng-click="goToStep(2)">
				</div>
			</div>

