<div class="page-wrapper avail-page-wrapper team-dtl-page">
	<div class="container login-container user-home-container pad-R-none pad-L-none" scroll ng-class="{availheaderback:boolChangeClass}">

		<div class="col-md-12 col-sm-12 col-xs-12 header-section avail-ride-header">
			<span class="glyphicon glyphicon-chevron-left cursor-pointer pull-left"></span>
			<span class="heading">Team Details</span>
			<span class="glyphicon glyphicon-list-alt pull-right" ng-click="getTeamActivities()"></span>
		</div>
		<div class="team-dtl-wrapper">
			<div class="triangle-down-left"></div>
			<p class="commute-title">{{ team.name }}</p>
			<div class="team-detail-content">
				<div class="each-row login-page">
	              <div class="field-icon-section">
	              	<img class="icon-style" src="assets/images/Locator.png">
	              </div>
	              <div class="user-input-section">
	                <p class="label-text">Starting</p>
	                <p class="value-text">{{ team.rideDetails.home.formatted_address }}</p> 	
                  </div>
              	</div>
              	<div class="each-row login-page">
	              <div class="field-icon-section">
	              	<img class="icon-style" src="assets/images/Locator.png">
	              </div>
	              <div class="user-input-section">
	                <p class="label-text">Destination</p>
	                <p class="value-text">{{ team.rideDetails.office.formatted_address }}</p> 	
                  </div>
              	</div>
              	<div class="each-row login-page">
	              <div class="field-icon-section">
	              	<img class="icon-style time" src="assets/images/time.png">
	              </div>
	              <div class="user-input-section">
	                <p class="label-text">Shift time</p>
	                <p class="value-text">{{  team.rideDetails.preferredTimeHToO  }} - {{  team.rideDetails.preferredTimeOToH  }}</p> 	
                  </div>
              	</div>
              	<p class="co-commuter-title">Co-commuters</p>
              	<ul class="co-comm-list">
              		<li class="owner">
              			<img src="assets/images/time.png">
              			<span>{{ team.createdBy.empName }}</span>
              		</li>
              		<li ng-repeat="member in team.members">
              			<img src="assets/images/time.png">
              			<span>{{ member.empName }}</span>
              		</li>
              	</ul>
	        </div>
		</div>
	</div>
	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.home" class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p ui-sref="userHome.home" class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.userProfile" class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p ui-sref="userHome.userProfile" class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="userHome.rideStatus" class="home-menu-icon" ui-sref="userHome.rideStatus" src="assets/images/dashboard-icon/track-ride.png">
				<p ui-sref="userHome.rideStatus" class="home-menu-text" ui-sref="userHome.rideStatus">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img ui-sref="activities" class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p ui-sref="activities" class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>
</div>		
