<div class="page-wrapper avail-page-wrapper">
	<div class="container login-container user-home-container pad-R-none pad-L-none" scroll ng-class="{availheaderback:boolChangeClass}">

		<div class="col-md-12 col-sm-12 col-xs-12 header-section avail-ride-header">
			<span class="glyphicon glyphicon-chevron-left cursor-pointer avail-header-back" ng-click="toggleHamburger()"></span>
			<span class="heading">My teams</span>
		</div>
		<div class="my-teams-wrapper">
			<div class="triangle-down-left"></div>
			<div class="my-team-content">
				<ul class="team-list">
					<li ng-click="openteamDetails()">
						<span class="count-sec">1</span>
						<span class="team-name-sec">Morning Commute</span>
					</li>
					<li ng-click="openteamDetails()">
						<span class="count-sec">2</span>
						<span class="team-name-sec">Evening Commute</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="home-menu-swiper-wrap">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-arrow-sec" >
			<img src="assets/images/uparrow.png" ng-click="toggleFooter()" alt="up">
		</div>
		<div class="home-page-menu-options">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img class="home-menu-icon" src="assets/images/dashboard-icon/home.png">
				<p class="home-menu-text">HOME</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img class="home-menu-icon" src="assets/images/dashboard-icon/profile.png">
				<p class="home-menu-text">PROFILE</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img class="home-menu-icon" src="assets/images/dashboard-icon/track-ride.png">
				<p class="home-menu-text">TRACK RIDES</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 each-home-menu">
				<img class="home-menu-icon" src="assets/images/dashboard-icon/history.png">
				<p class="home-menu-text">HISTORY</p>
			</div>
		</div>
	</div>
</div>		
